@model MVCStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" name="URUNADI" class="form-control" required="" maxlength="30"/>
    </div>

    <div>
        <label>Markası</label>
        <input type="text" name="MARKA" class="form-control" required="" placeholder="Buraya Markayı Yazınız"/>
    </div>

    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    </div>

    <div>
        <label>Fiyatı</label>
        <input type="text" name="FİYAT" class="form-control" />
    </div>

    <div>
        <label>Stok Adet</label>
        <input type="text" name="STOK" class="form-control" />
    </div>

    <div>
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

